<?xml version="1.0" encoding="utf-8"?>
<plugin 
    id="vritra-plugin-swift-support" 
    version="1.0.0" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android"
>
    <name>SwiftSupport</name>
    <hook type="after_prepare" src="src/SwiftSupport.js"/>
    <platform name="ios">
        <hook type="after_platform_add" src="src/SwiftSupport.js"/>
        <hook type="after_plugin_add" src="src/SwiftSupport.js"/>
        <source-file src="src/CordovaPlugin.swift"/>
    </platform>
    <platform name="osx">
        <hook type="after_platform_add" src="src/SwiftSupport.js"/>
        <hook type="after_plugin_add" src="src/SwiftSupport.js"/>
        <source-file src="src/CordovaPlugin.swift"/>
    </platform>
</plugin>